[Desktop Entry]
Version=1.1
Type=Application
Name=PortViz
Comment=Radar-style visual port scanner
Exec=sh -c "bash ~/PortViz/launch.sh"
Icon=portviz-icon.png
Terminal=false
Categories=Network;Utility;
PrefersNonDefaultGPU=false

